@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&family=Roboto:wght@400;500;700;900&display=swap");

body {
  background-color: var(--third-color);
  color: var(--first-background-color);

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --first-background-color: #2e2f42;
  --second-background-color: #404bbf;
  --main-color: #4d5ae5;
  --secondary-color: #434455;
  --third-color: #ffffff;
  --fouth-color: #f4f4fd;
  --fifth-color: #e7e9fc;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding: 24px 0;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 77px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  flex: 0 0 115px;
}

.logo span {
  color: var(--main-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navigation {
  flex: 1 1 100%;
}

.navigation-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navigation-link {
  font-weight: 500;
  line-height: 1.5;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--secondary-color);
}

.navigation-link:active {
  color: var(--main-color);
}

.contacts-list {
  display: flex;
  gap: 40px;
  align-items: center;
  flex: 0 0 344px;
}

.contact-link {
  line-height: 1.5;
  color: var(--secondary-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--main-color);
}

.hero {
  background-color: var(--first-background-color);
  text-align: center;
  padding: 192px 0;
}

.hero-container > *:not(:last-child) {
  margin-bottom: 48px;
}

.hero-title {
  color: var(--third-color);
  font-weight: 500;
  font-size: 56px;
  line-height: 1.07;
  margin: 0 auto;
  max-width: 492px;
}

.hero-button {
  font-weight: 500;
  line-height: 1.18;
  background-color: var(--main-color);
  color: var(--third-color);
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 16px 32px;
  border: 0 solid transparent;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--second-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero-button:active {
  background: var(--second-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.info {
  padding: 120px 0 0 0;
}

.item-info {
  flex: 0 1 25%;
}

.item-info > *:not(:last-child) {
  margin-bottom: 8px;
}

.info-list {
  display: flex;
  gap: 24px;
}

.info-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.info-text {
  line-height: 1.5;
  color: var(--secondary-color);
}

.job {
  padding: 120px 0;
}

.job-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.job-heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.job-photo {
  width: 360;
  height: 300;
}

.avatars {
  background: var(--fouth-color);
  padding: 120px 0;
}

.avatars-list {
  display: flex;
  gap: 24px;
}

.avatar-list-section {
  background: var(--third-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.avatar-heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.avatar-card {
  width: 264;
  height: 200;
}

.avatar-item {
  padding: 32px 16px;
  text-align: center;
}

.avatar-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.avatar-text {
  line-height: 1.5;
  color: var(--secondary-color);
}

.footer {
  background-color: var(--first-background-color);
  padding: 100px 0;
}

.logo-ending {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  line-height: 1.16;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--fouth-color);
}

.text-ending {
  color: var(--fifth-color);
  line-height: 1.5;
  max-width: 264px;
  margin-top: 16px;
}

.logo-ending span {
  color: var(--main-color);
}

.cards {
  padding: 96px 0 120px 0;
}

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-link {
  background: var(--fouth-color);
  border: 1px solid var(--fifth-color);
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 12px 24px;
}

.button-link:hover,
.button-link:focus {
  background: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--third-color);
  border: transparent;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.card-photo {
  width: 360;
  height: 300;
}

.card-item {
  padding: 32px 16px;
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-top: none;
}

.card-title {
  color: var(--first-background-color);
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  margin-bottom: 8px;
}

.card-text {
  color: var(--secondary-color);
}
